server {
    server_name _;

    location / {
        default_type 'text/plain';
        content_by_lua '
            os.execute("sudo /usr/local/bin/open-door &")
            ngx.say("sesamo!")
        ';
    }

    location /say {
        default_type 'text/plain';
        content_by_lua '
            local lang = ngx.var.arg_lang
            local text = ngx.var.arg_text

            os.execute("sudo /usr/local/bin/say " .. lang .. " " .. text .. " &")
            ngx.say("talking!")
        ';
    }
}
