server {
    server_name _;

    location /play {
        default_type 'text/plain';
        content_by_lua '
            local url = ngx.unescape_uri(ngx.var.arg_url)
            os.execute("sudo /usr/bin/mplayer " .. url .. " &")
            ngx.say("playing")
        ';
    }

    location /open {
        default_type 'text/plain';
        content_by_lua '
            os.execute("sudo /usr/local/bin/open-door &")
            ngx.say("sesamo!")
        ';
    }
}
